name: deploy-frontend-service

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/niyog-zone-client:latest
          build-args: |
            NEXT_PUBLIC_BASE_ENDPOINT=${{ secrets.BASE_ENDPOINT }}

      # - name: Pull and restart docker image
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.VPS_HOST }}
      #     username: ${{ secrets.VPS_USERNAME }}
      #     key: ${{ secrets.VPS_SSH_KEY }}
      #     port: ${{ secrets.VPS_PORT }}
      #     script: |

      #       cd docker-host/

      #       # Start or update containers
      #       docker compose pull niyog-zone-client
      #       docker compose up niyog-zone-client -d
      #       docker image prune -f
